body{
    display:grid;
    grid-template-areas: "header header header"
                         "nav article ads"
                         "footer footer footer";
    grid-template-rows: 60px 1fr 60px; 
    grid-template-columns: 10% 1fr 20%;
     
    grid-gap: 10px;
    height: 100vh;
    margin: 0;  
    background-color: rgb(164, 199, 255); 
    font-size: 21px;                
}

header {
        padding: 10px;
        background: rgb(14, 34, 70);
}

article{ 
        background: rgb(255, 255, 255);
}

footer {
        background: rgb(0, 0, 0);
}



footer p {
        color: white;
        padding : 10px;
        text-align: center;
}
nav {
        margin-left: 10px;
        background: rgb(255, 255, 255);
}

div#siteAds {
        background-color: white;
}

#pageHeader {grid-area:header;}
#pageFooter {grid-area:footer;}
#mainArticle {grid-area:article;}
#mainNav {grid-area:nav;}
#siteAds {grid-area: ads;}

header .navMenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;      
}

nav .navMenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;      
}

header .navElement {
        float:left;
}

nav .navElement {
        display: block;
        color:black;
        border: solid black;
        border-width: 1px;       
}

.navElement a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

header .navElement a {
        color : white;
}

nav .navElement a {
        color : black;
}

.navElement a:hover {
        background-color: rgb(69, 149, 255);
}

ul.list{
        margin : 5px auto;  
        list-style-type: none;
        overflow: hidden;
}

ul.list li.listElement {
        margin : 20px auto;  
        justify-content: center;
        display: inline-block;
}

.roundedCard { 
        border-radius: 15px;
        background: #7fbfff;
        padding: 10px;
        width: 200px;
        height: 150px;
}

.roundedCard h4 {
        text-align: center;
        border-bottom: solid blue;
        border-width: 1px;
}

.roundedCard p {
        text-align: center;
}

.imageWrapper {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
}
.imageWrapper img {
        height: auto;
        width: 100%;
}

@media (max-width: 1140px){
        body{
                grid-template-rows: 100px 1fr 100px;
                grid-gap: 10px;               
                grid-template-columns: 150px 1fr 300px;
        }
        header{
                font-size: 31px;
                padding: 2px;
        }
        .navElement a {
                padding: 7px 8px;
        }
        ul.list li.listElement {  
                margin : 15px auto;  
                display: inline-block;
        }
}

@media (max-width: 1000px){
        body{
                grid-template-rows: 100px 1fr 100px;
                grid-gap: 10px;               
                grid-template-columns: 200px 1fr 350px;
        }
        header{
                font-size: 41px;
                padding: 2px;
        }
        .navElement a {
                padding: 7px 8px;
        }
        ul.list{
                margin : 5px auto;  
        }
        ul.list li.listElement {  
                margin : 10px auto;  
                display: flex;
        }
        .roundedCard { 
                padding: 5px;
                width: 300px;
                height: 170px;
        }
}